@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Mono|Poppins|Work+Sans');

:root {
  /* #3274B7 */
  --pandera-blue: rgb(50, 116, 183);
  --dark-gray: #374047;
  --gray-text: #4a4a4a;
  --light-gray: #d4d4d4;
  --main-box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav > *, button, h1, h2, h3, h4, h5, aside > * {
  font-family: "Work Sans", Helvetica, sans-serif;
}

.react-monaco-editor-container {
  width: auto !important;
}

.monaco-editor {
  max-height: 928px;
}
